<a href="https://colab.research.google.com/github/uday161616/ML_Project/blob/main/python_tut_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#set in mutable,no duplicate,unordered

#how to initialize a sets
myset = {1,2,3,3,4,5,5,6}
myset

{1, 2, 3, 4, 5, 6}

In [14]:
#convert a list to set
list  = [1,2,3,3,3,4,5]
myset  = set(list)
myset

{1, 2, 3, 4, 5}

In [8]:
#how to copy a set
newset = myset.copy()
newset

{1, 2, 3, 4, 5}

In [9]:
newset = set(myset)
newset

{1, 2, 3, 4, 5}

In [10]:
#result of set("hello")
myset1 = set("hello")
myset1

{'e', 'h', 'l', 'o'}

In [11]:
# how to create a empty set
# will {} create an empty set? ans : no will identify as dictionary

myset2 = set()
myset2

set()

In [18]:
#diff between remove and discard (discard wont give error)
print(myset)
myset.remove(7)

{1, 2, 3, 4, 5}

KeyError: 7

In [19]:
print(myset)
myset.discard(7)

{1, 2, 3, 4, 5}

In [21]:
#.pop() remove a random element for set
myset.pop()

2

In [27]:
# - how to initialize an immutable set?
newset = frozenset([1,3,4,5,6,67,6])
newset

frozenset({1, 3, 4, 5, 6, 67})

Home work

In [22]:
# how to union two sets? (2 ways)
# - explain intersection() vs intersection_update()
# - what is an equivalent of s1.difference(s2)?
# - explain difference vs symmetric_difference
# - how to check if s1 contains all elements of s2?
# - what does `s2.issuperset(s1)` do?
# - write a single-line code equivalent to isdisjoint()

{'e', 'h', 'l', 'o'}