<a href="https://colab.research.google.com/github/uday161616/ML_Project/blob/main/python_tut2_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Tuple is immutable ,ordered, allows duplicate elements

In [4]:
#initialization a tuple
mytuple = tuple([2,'a','p',25,6])
mytuple

(2, 'a', 'p', 25, 6)

In [5]:
mytuple = (2,'a','p',25,6)
mytuple

(2, 'a', 'p', 25, 6)

In [8]:
mytuple = 2,'a','p',25,6
print(mytuple)
type(mytuple)

(2, 'a', 'p', 25, 6)

tuple

In [22]:
#initialize a single tuple
mytuple = ("max")
print(mytuple)
type(mytuple)

max

str

In [23]:

mytuple = (2,)
print(mytuple)
type(mytuple)

(2,)

tuple

In [24]:
mytuple = tuple(["max"])
print(mytuple)
type(mytuple)

('max',)

tuple

In [25]:
#converting tuple to list and vice versa
mylist = list(mytuple)
print(mylist)
type(mylist)

['max']

list

In [26]:
mytuple = tuple(mylist)
print(mytuple)
type(mytuple)

('max',)

tuple

In [29]:
#how to get 1 element of a tuple
mytuple = tuple([2,'a','p',25,6])
print(mytuple)
mytuple[0]

(2, 'a', 'p', 25, 6)

2

In [31]:
#how to unzip a tuple (same number of variable should be there)
a, *b,c = mytuple
print(a)
print(b)
print(c)

2
['a', 'p', 25]
6

In [32]:
#count values in tuples
print(len(mytuple))

5

In [38]:
#return the index of a element in a tuple
index = mytuple.index(25)
index

3

In [39]:
#tuple is immutable &fast
mytuple[1] = 1

TypeError: 'tuple' object does not support item assignment